/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

#banner {
  display: block;
  position: fixed;
  left: 0;
  top: -25vh;
  width: 100%;
  box-sizing: border-box;
  transition: ease .5s top;
  text-align: center;
  padding: 1em .5em;
  font-weight: bold;
  color: white;
  box-shadow: 0 0 5px 5px #888A;
}

#banner.error {
  background: var(--red-dark);
}

#banner.show {
  top: 0;
}
