/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

:root {
  /* Colors */
  --blue-pale: #B3D6FE;
  --blue-light: #3993FD;
  --blue-dark: #1C85FD;

  --green-pale: #DAF1E2;
  --green-light: #44BC6B;
  --green-dark: #1D7A47;

  --grey-pale: #F2F2F2;
  --grey-light: #949494;
  --grey-dark: #808080;

  --orange-pale: #FFE6CC;
  --orange-light: #F93;

  --red-pale: #FAD4D1;
  --red-light: #E72918;
  --red-dark: #D02516;

  --main-color: #AC932F;
  --main-dark: #8c7826;

  --shadow-color: hsla(0, 0%, 0%, .08);

  /* Fonts */
  --font-family: sans-serif;

  /* Password strength bar colors */
  --bar-color-none: var(--grey-pale);
  --bar-color-bad: var(--red-light);
  --bar-color-weak: #FC6;
  --bar-color-fair: #9F6;
  --bar-color-good: var(--green-light);
}

/* Main body */
body {
  box-sizing: border-box;
  font-family: var(--font-family);
  margin: 0;
  padding: 10px;
  font-size: 12pt;
  border-top: 5px solid var(--main-color);
}

#container {
  margin: auto;
  max-width: 500px;
  min-width: 200px;
  width: 100%;
}

.nowrap {
  white-space: nowrap;
}

.hide {
  display: none !important;
}

.spacer {
  flex: 1;
}
/* Main body - end */

/* Loading screen */
#loader {
  animation: spin .4s linear infinite;
  border: 10px solid var(--grey-pale);
  border-radius: 50%;
  border-top: 10px solid var(--main-color);
  height: 80px;
  margin: 20vh auto auto auto;
  width: 80px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* Loading screen - end */

/* Header */
header {
  margin: auto;
  width: max-content;
  display: flex;
  align-items: center;
  color: var(--main-color);
  padding: 2vh 1vw;
}

header img {
  display: inline;
  margin-right: .5em;
}

header h1 {
  display: inline;
  font-size: 300%;
  margin: 0;
}
/* Header - end */

/* Buttons */
button {
  border: none;
  border-radius: 100px;
  box-shadow: 0 2px 4px 2px var(--shadow-color);
  cursor: pointer;
  font: bold 100% var(--font-family);
  padding: 10px 30px;
  text-transform: uppercase;
  transition: ease all .5s;
  font-size: 125%;
}

button:enabled:hover,
button:enabled:focus {
  filter: brightness(80%);
}

button:disabled {
  background: var(--grey-light) linear-gradient(var(--grey-light), var(--grey-dark)) !important;
  color: white !important;
  cursor: not-allowed;
}

button.main {
  background: var(--main-color) linear-gradient(var(--main-color), var(--main-dark));
  color: white;
}

button.red {
  background: var(--red-light) linear-gradient(var(--red-light), var(--red-dark));
  color: white;
}

button.green {
  background: var(--green-light) linear-gradient(var(--green-light), var(--green-dark));
  color: white;
}

.nocolor {
  background: none;
  box-shadow: none;
  color: var(--grey-light);
}

.nodisable:disabled {
  background-color: white;
  color: black;
}
/* Buttons - end */

/* Button bar */
.bar {
  display: flex;
  width: 100%;
}

.bar * {
  margin: auto 2px;
}

.bar .flex {
  flex: 1;
}
/* Button bar - end */

/* Warnings & Notes */
.warning {
  background: var(--red-pale);
  border-left: 5px solid var(--red-light);
  color: var(--red-light);
  margin: 10px;
  padding: 10px 15px;
  font-size: 80%;
}

.note {
  background: var(--orange-pale);
  border-left: 5px solid var(--orange-light);
  color: var(--orange-light);
  margin: 10px;
  padding: 10px 15px;
  font-size: 80%;
}

.note a {
  color: var(--orange-light);
}
/* Warnings & Notes - end */

/* Text fields */
textarea {
  height: 300px;
}

textarea,
input:not([type=file]) {
  border: 1px solid var(--shadow-color);
  box-shadow: inset 0 2px 4px 0 var(--shadow-color);
  border-radius: 5px;
  box-sizing: border-box;
  font: 12pt var(--font-family);
  margin: auto;
  padding: 10px;
  resize: none;
  width: 100%;
}

textarea:focus,
input:not([type=file]):focus {
  border: 1px solid var(--main-color);
}
/* Text fields - end */
