/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

/* Checkboxes */
#eula-checkbox,
#pp-checkbox {
  width: unset !important;
}
/* Checkboxes - end */

/* Links */
a {
  color: blue;
}
/* Links - end */

/* Headings */
h1 {
  text-align: center;
}
/* Headings - end */

/* Menu bar */
.bar {
  margin-top: 1em;
}
/* Menu bar - end */
